*,
html,
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.firstpage {
  background-image: url(assets/main-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}
.play {
  margin-top: 20%;
}
.title {
  text-align: center;
  font-size: 2.5em;
  color: #000;
}
.title1 {
  text-align: center;
  font-size: 1em;
  color: black;
}
.title2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
button {
  border-radius: 10px;
  background-color: rgb(250, 132, 48);
  padding: 14px;
  width: 150px;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
  padding-left: 10%;
  padding-right: 10%;
  width: 100%;
  height: 40px;
  background-color: rgb(0, 0, 0, 0.2);
}
.logo {
  color: white;
  font-size: 18px;
}
nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 10px 20px;
}
nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}
.secondpage {
  background-image: url(assets/the-games-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;

  padding-left: 10%;
  padding-top: 20%;
  height: 100vh;
}

.content1 {
  color: white;
  font-size: 25px;
  height: 350px;
  width: 300px;
}
.content2 {
  color: white;
  font-size: 40px;
  letter-spacing: 4px;
}

.sideimage {
  border: 1px rgb(white, white, white);
  width: 50%;
  height: 30%;
  margin-top: 0%;
}
.carousel-control-prev {
  margin-left: -5em;
}
.carousel-control-next {
  margin-right: -5em;
}

.carousel-indicators button {
  height: 1em !important;
  width: 1em !important;
  margin: 0 1em !important;
  border-radius: 100%;
  background-color: rgb(248, 248, 248, 0.3) !important;
  border: 1px solid white !important;
}
.carousel-control-prev-icon {
  background-image: url(assets/switch-left.svg);
}
.carousel-control-next-icon {
  background-image: url(assets/switch-right.svg);
}

.thirdpage {
  background-image: url(assets/features.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 150vh;
}
.content3 {
  color: white;
  font-size: 20px;
  padding-left: 700px;
  padding-top: 200px;
  letter-spacing: 3px;
}
.content3a {
  color: white;
  font-size: 60px;
}
.content3b {
  font-family: "Arial";
  color: orange;
  font-size: 20px;
  padding-left: 728px;
  padding-top: 40px;
  letter-spacing: 3px;
}
.content3b > li {
  list-style: circle;
}
.note {
  color: white;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 50;
}
.content3c {
  font-family: sans-serif;
  padding-top: 60px;
}

.content3d {
  font-family: sans-serif;
  padding-top: 60px;
}

.fourthpage {
  background-image: url(assets/requirements.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  padding-top: 100px;
  padding-left: 100px;
}
.title-A {
  color: rgba(255, 255, 255, 0.788);
  font-size: 20px;
  font-weight: 10;
  padding-left: 360px;
  margin-top: 10px;
}
.title-B {
  color: white;
  text-align: left;
  font-size: 50px;
  margin-top: 5px;
}
.spesifikasi h1 {
  color: rgb(250, 181, 33);
  font-family: sans-serif;
  font-size: 15px;
  padding: 5px 5px;
}
.spesifikasi p {
  color: white;
  font-family: "open sans";
  font-size: 15px;
  padding: 5px 5px;
}
.spesifikasi td {
  margin-top: 5px;
  border: 1px solid white !important;
  border-collapse: collapse !important;

  /* border-color: rgba(255, 255, 255, 0.534);*/
}

.fifthpage {
  background-image: url(assets/top-score-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  display: flex;
}
.tulisankiri {
  color: rgb(248, 246, 246);
  /*background-color: white;*/
  margin-top: 200px;
  margin-left: 100px;
  font-size: 20px;
  width: 400px;
}
.tulisankiri > h1 {
  margin-bottom: 0.5em;
}
.tulisankiri > p {
  font-size: smaller;
  margin-bottom: 2em;
}
.button {
  border-radius: 50px;
  background-color: rgb(250, 132, 48);
  padding: 14px;
  width: 200px;
}
.bagiankanan {
  width: 70%;
}
.score1 {
  background-color: rgba(53, 48, 48, 0.5);
  width: 19em;
  margin-left: 25em;
  margin-top: 10px;
  margin-bottom: 1em;
  padding-bottom: 10px;
  border: 1px;
  border-radius: 0.5em;
}
.atas {
  /*background-color: rgb(236, 48, 48);*/
  padding-bottom: 10px;
  border-top-right-radius: 0.5em;
  border-top-left-radius: 0.5em;
  margin-top: 5px;
  padding-top: 5px;
  display: flex;
  flex-wrap: wrap;
}

.foto {
  width: 3em;
  height: 3em;
  border-radius: 50%;
  position: relative;
  z-index: 1;
}

.shadow {
  width: 3em;
  height: 3em;
  border-radius: 50%;
  position: absolute;
  margin-left: 0.3em;
  margin-top: 0.3em;
}

.profil {
  margin-top: 10px;
  margin-left: 1em;
}
.nama {
  color: orange;
}
.profesi {
  color: rgba(165, 163, 163, 0.904);
  font-size: 10px;
}
.logotwitter {
  width: 1em;
  height: 1em;
  align-items: end;
  margin-top: 9px;
  margin-left: 120px;
}
.bawah {
  margin-top: 5px;
}
.testimoni {
  color: white;
  font-size: 15px;
}
.tanggal {
  color: dimgray;
  font-size: smaller;
}

.score2 {
  background-color: rgba(53, 48, 48, 0.5);
  width: 19em;
  margin-left: 15em;
  margin-top: 40px;
  margin-bottom: 2em;
  padding-bottom: 10px;
  border: 1px;
  border-radius: 0.5em;
}
.atas2 {
  /*background-color: rgb(236, 48, 48);*/
  height: 55px;
  border-top-right-radius: 0.5em;
  border-top-left-radius: 0.5em;
  margin-top: 5px;
  padding-top: 5px;
  display: flex;
  flex-wrap: wrap;
}
.foto2 {
  width: 3em;
  height: 3em;
  border-radius: 50%;
  position: relative;
  z-index: 1;
}
.shadow2 {
  width: 3em;
  height: 3em;
  border-radius: 50%;
  position: absolute;
  margin-left: 0.3em;
  margin-top: 0.3em;
}
.profil2 {
  margin-top: 10px;
  margin-left: 0.5em;
}
.nama2 {
  color: orange;
  margin-top: 5px;
  margin-left: 10px;
}
.profesi2 {
  color: rgba(165, 163, 163, 0.904);
  font-size: smaller;
  margin-left: 10px;
}
.logotwitter2 {
  width: 1em;
  height: 1em;
  align-items: end;
  margin-top: 9px;
  margin-left: 135px;
}
.bawah2 {
  margin-top: 5px;
}
.testimoni2 {
  font-size: 15px;
  color: white;
}
.tanggal2 {
  color: dimgray;
  font-size: smaller;
}
.score3 {
  background-color: rgba(53, 48, 48, 0.5);
  width: 19em;

  margin-left: 25em;
  margin-top: 5px;
  margin-bottom: 1em;
  padding-bottom: 10px;
  border: 1px;
  border-radius: 0.5em;
  display: flex;
}
.atas3 {
  height: 115px;
  border-top-right-radius: 0.5em;
  border-top-left-radius: 0.5em;
  margin-top: 5px;
  padding-top: 5px;
  display: flex;
  flex-wrap: wrap;
}
.foto3 {
  width: 3em;
  height: 3em;
  border-radius: 50%;
  position: relative;
  z-index: 1;
}
.shadow3 {
  width: 3em;
  height: 3em;
  border-radius: 50%;
  position: absolute;
  margin-left: 0.3em;
  margin-top: 0.3em;
}
/*.profil3 {
}*/
.nama3 {
  color: orange;
  margin-top: 0px;
  margin-left: 10px;
}
.profesi3 {
  color: rgba(165, 163, 163, 0.904);
  font-size: smaller;
  margin-left: 10px;
}
.logotwitter3 {
  width: 1em;
  height: 1em;
  align-items: end;
  margin-top: 5px;
  margin-left: 120px;
}
.bawah3 {
  margin-top: 10px;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.897);
  font-weight: lighter;
}
.tanggal3 {
  color: dimgray;
  font-size: smaller;
}

/*.score1 {
  border: 0;
  border-radius: 0.5em;
  margin-left: 25em;
  margin-bottom: 1em;
  margin-top: 5px;
  width: 13em;
  padding: 2em;
  background-color: rgba(53, 48, 48, 0.5);
}
.score2 {
  border: 0;
  border-radius: 0.5em;
  margin-left: 15em;
  margin-bottom: 3em;
  margin-top: 10px;
  width: 13em;
  padding: 2em;
  background-color: rgba(241, 34, 34, 0.5);
}
.score3 {
  border: 0;
  border-radius: 0.5em;
  margin-left: 20em;
  margin-bottom: 3em;
  margin-top: 10px;
  width: 13em;
  padding: 2em;
  background-color: rgba(241, 34, 34, 0.5);
}

.bagianatas {
  display: flex;
  align-items: flex-start;
}
.foto {
  width: 3em;
  height: 3em;
  border-radius: 50%;
  position: relative;
  z-index: 1;
  
}
.shadow {
  width: 3em;
  height: 3em;
  border-radius: 50%;
  position: absolute;
  margin-left: 0.3em;
  margin-top: 0.3em;
  margin-bottom: 10px;
}*/
